// zex palette template

$primary: {{primary}};
$on-primary: {{on_primary}};
$primary-container: {{primary_container}};
$on-primary-container: {{on_primary_container}};
$secondary: {{secondary}};
$on-secondary: {{on_secondary}};
$secondary-container: {{secondary_container}};
$on-secondary-container: {{on_secondary_container}};
$tertiary: {{tertiary}};
$on-tertiary: {{on_tertiary}};
$tertiary-container: {{tertiary_container}};
$on-tertiary-container: {{on_tertiary_container}};
$error: {{error}};
$on-error: {{on_error}};
$error-container: {{error_container}};
$on-error-container: {{on_error_container}};
$background: {{background}};
$on-background: {{on_background}};
$surface: {{surface}};
$on-surface: {{on_surface}};
$surface-variant: {{surface_variant}};
$on-surface-variant: {{on_surface_variant}};
$outline: {{outline}};
$outline-variant: {{outline_variant}};
$shadow: {{shadow}};
$scrim: {{scrim}};
$inverse-surface: {{inverse_surface}};
$inverse-on-surface: {{inverse_on_surface}};
$inverse-primary: {{inverse_primary}};
$surface-dim: {{surface_dim}};
$surface-bright: {{surface_bright}};
$surface-container-lowest: {{surface_container_lowest}};
$surface-container-low: {{surface_container_low}};
$surface-container: {{surface_container}};
$surface-container-high: {{surface_container_high}};
$surface-container-highest: {{surface_container_highest}};
$is-dark: {{is_dark}};

@define-color zex-primary {{primary}};
@define-color zex-on-primary {{on_primary}};
@define-color zex-primary-container {{primary_container}};
@define-color zex-on-primary-container {{on_primary_container}};
@define-color zex-secondary {{secondary}};
@define-color zex-on-secondary {{on_secondary}};
@define-color zex-secondary-container {{secondary_container}};
@define-color zex-on-secondary-container {{on_secondary_container}};
@define-color zex-tertiary {{tertiary}};
@define-color zex-on-tertiary {{on_tertiary}};
@define-color zex-tertiary-container {{tertiary_container}};
@define-color zex-on-tertiary-container {{on_tertiary_container}};
@define-color zex-error {{error}};
@define-color zex-on-error {{on_error}};
@define-color zex-error-container {{error_container}};
@define-color zex-on-error-container {{on_error_container}};
@define-color zex-background {{background}};
@define-color zex-on-background {{on_background}};
@define-color zex-surface {{surface}};
@define-color zex-on-surface {{on_surface}};
@define-color zex-surface-variant {{surface_variant}};
@define-color zex-on-surface-variant {{on_surface_variant}};
@define-color zex-outline {{outline}};
@define-color zex-outline-variant {{outline_variant}};
@define-color zex-shadow {{shadow}};
@define-color zex-scrim {{scrim}};
@define-color zex-inverse-surface {{inverse_surface}};
@define-color zex-inverse-on-surface {{inverse_on_surface}};
@define-color zex-inverse-primary {{inverse_primary}};
@define-color zex-surface-dim {{surface_dim}};
@define-color zex-surface-bright {{surface_bright}};
@define-color zex-surface-container-lowest {{surface_container_lowest}};
@define-color zex-surface-container-low {{surface_container_low}};
@define-color zex-surface-container {{surface_container}};
@define-color zex-surface-container-high {{surface_container_high}};
@define-color zex-surface-container-highest {{surface_container_highest}};
